#J_app.container
  .global-notice.fn-hide
    = styled_flash
  #J_globalAlert.alert.fn-hide
    %button.close{:type => "button", :data => {:dismiss => "alert"}} ×
    %strong Warning!
  - if current_user
    .row
      .span3
        .well.sidebar-nav
          %h4 
            My projects:
            %span.more
              (
              %a#J_listEdit{:href => "#", :data => {:state => "hide"}} edit
              )
          %ul.nav.nav-list
            - @lists.each do |list|
              - if @lists.index(list) == 0
                %li.active.nav-item.clearfix{:data => {:id => "#{list.id}"}}
                  %a{:href => "#"} 
                    = list.name
                    %i.J_listRemove.icon-remove.fn-hide
              - else 
                %li.nav-item.clearfix{:data => {:id => "#{list.id}"}}
                  %a{:href => "#"} 
                    = list.name
                    %i.J_listRemove.icon-remove.fn-hide
          %form#J_listDestroy.list-destroy{:action => "#", :method => "POST"}
            %input{:type => "hidden", :name => "_method", :value => "DELETE"}
            %input{:type => "submit", :value => "×"}
          .add-list
            %form.new{:action => "/new/list", :method => "POST"}
              .controls
                %h4 Create a new project:
              .controls
                .input-append
                  %input.span2{:type=>"text", :name=>"list[name]"}<
                    %input.btn{:type=>"submit", :value=>"+ List"}
      .span9
        #J_lists.row
          - if @lists.count > 0
            .add-task
              .controls
                .input-append
                  %input#J_inputTask.span7.input-task{:type => "text", :name => "task[name]", :maxLength => "100"}<
                    %input#J_addTask.btn.btn-large.btn-primary.btn-main{:type => "button", :value => "New Task >>"}/
            %ul.tasks
    = haml :template
    #md-editor-container.fn-hide
      .md-editor
        %textarea{:name => "annotation"}
        %input.J_annoteSubmit.btn{:type => "submit", :value => "submit"}
  %hr
  %footer
    %p 
      © Kenshin 2012 